body {
  border-top: 8px solid $ralph;
  padding-top: 130px;
}

header {
  @include clearfix;
  margin-bottom: 80px;
}

nav a {
  color: $base-font-color;
  display: inline-block;
  font-weight: $semibold-font-weight;
  padding: 10px;
  position: relative;
  text-decoration: none;

  &:focus,
  &:hover,
  &.active {
    color: $ralph;

    &::before {
      @include position(absolute, 21px null null -10px);
      @include triangle("right", 7px, 10px, $ralph);
      content: "";
    }
  }
}

img {
  margin-top: 30px;
}

.button--download-assets {
  @include button--with-icon($medium-gray);

  &::before {
    background-image: url("../images/download-icon.svg");
  }
}

.button--download-guide {
  @include button--with-icon;

  &::before {
    background-image: url("../images/download-icon.svg");
  }
}

.button--github {
  @include button--with-icon($medium-gray);

  &::before {
    background-image: url("../images/github.svg");
  }
}

#logo {
  display: block;

  h4 {
    margin-bottom: 0;
    margin-top: 50px;
  }

  .sans-logotype,
  .stacked-vertical {
    display: inline-block;
    vertical-align: top;
  }

  .sans-logotype {
    margin-right: 130px;
  }
}

#usage-guidelines {
  h3 {
    text-transform: uppercase;

    &:first-of-type {
      color: $ralph;
    }

    &:nth-of-type(2n) {
      color: $light-green;
    }
  }

  ul {
    margin: 15px 0 30px;

    li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }
}

.color-title {
  font-weight: 300;
  margin-top: 40px;
}

.palette-container {
  display: flex;
  margin-bottom: 30px;
}

.color-specs {
  font-size: $large-font-size;
  vertical-align: top;
  margin: 10px 0 0 0;

  dt {
    font-weight: $semibold-font-weight;
  }

  dd {
    margin-left: 0;
  }
}

.ralph-color-block {
  @include size(320px, 180px);
  background: $ralph;
  display: inline-block;
}

.renee-color-block {
  @include size(240px, 180px);
  background: $thoughtbot-gray;
  display: inline-block;
}

.jean-color-block {
  @include size(180px, 180px);
  background: $jean;
  display: inline-block;
}

.alphie-color-block {
  @include size(180px, 180px);
  background: $alphie;
  display: inline-block;
}

.opacity-shifts {
  display: inline-block;
  margin-left: -4px;
}

.opacity-shift-1,
.opacity-shift-2,
.opacity-shift-3 {
  @include size(80px, 60px);
}

.opacity-shift-1 {
  background: $thoughtbot-medium-gray;
}

.opacity-shift-2 {
  background: $thoughtbot-light-gray;
}

.opacity-shift-3 {
  background: $thoughtbot-ultralight-gray;
}

.uppercase {
  text-transform: uppercase;
}

#typography {
  h3 {
    font-size: $base-font-size * 1.5;
    line-height: $base-line-height;
  }

  .typeface-name {
    margin: 30px 0 10px;
  }

  .uppercase,
  .lowercase {
    letter-spacing: 5px;
  }

  // .uppercase {
  //   text-transform: uppercase;
  // }

  .regular-typeface {
    h3,
    p {
      font-weight: $regular-font-weight;
    }
  }

  .semibold-typeface {
    h3,
    p {
      font-weight: $semibold-font-weight;
    }
  }
}
