<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <title>thoughtbot Brand Assets & Guidelines</title>
    <link type="image/ico" href="/favicon.ico" rel="icon">
    <%= stylesheet_link_tag "base" %>
  </head>
  <body>
    <main class="page-wrap" role="main">
      <%= yield %>
    </main>
  </body>
</html>
