<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <title>thoughtbot Brand Assets & Guidelines</title>
    <%= stylesheet_link_tag "base" %>
    <%= favicon_tag "favicon.ico" %>
  </head>
  <body>
    <main class="page-wrap" role="main">
      <%= yield %>
    </main>
  </body>
</html>
