<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>thoughtbot Brand Assets & Guidelines</title>
    <%= stylesheet_link_tag "base" %>
  </head>
  <body>
    <main class="page-wrap" role="main">
      <%= yield %>
    </main>

    <%= javascript_include_tag(
      "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
    ) %>
    <%= javascript_include_tag "nav-active-class.js" %>
  </body>
</html>
