body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4 {
  color: $heading-font-color;
  font-family: $heading-font-family;
  font-weight: $semibold-font-weight;
  line-height: $heading-line-height;
  margin: 0 0 1.2em;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: $base-font-size * 3;
  color: $thoughtbot-red;
}

h2 {
  font-size: $base-font-size * 2;
  margin-bottom: $base-line-height * 0.8;
}

h3 {
  font-size: $base-font-size * 1.125;
}

h4 {
  font-size: $base-font-size * 1.125;
}

p {
  color: $base-font-color;
  font-size: $base-font-size * 1.25;
  font-weight: $regular-font-weight;
  margin: 0 0 1em;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
