// Bourbon settings
$bourbon: (
  "global-font-file-formats": ("woff2", "woff"),
);

// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$sans-serif: "Calibre", $font-stack-system;
$base-font-family: $sans-serif;
$heading-font-family: $sans-serif;

// Font Weights
$regular-font-weight: 400;
$semibold-font-weight: 600;

// Font Sizes
$base-font-size: 1em;
$large-font-size: 1.25em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 2px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;

// Colors
$blue: #477dca;
$dark-gray: #3d3e44;
$medium-gray: #9b9aa1;
$light-gray: #b5b5c0;
$thoughtbot-red: #e03131;
$thoughtbot-gray: #29292c;
$thoughtbot-medium-gray: #353539;
$thoughtbot-light-gray: #4e4e53;
$thoughtbot-ultralight-gray: #67676e;
$light-green: #72ca11;

// Font Colors
$base-font-color: tint($thoughtbot-gray, 13%);
$action-color: $thoughtbot-red;
$heading-font-color: $thoughtbot-gray;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$base-border-radius: 3px;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Animations
$base-duration: 150ms;
$base-timing: ease;
