@mixin button($color: $action-color) {
  appearance: none;
  border: 2px solid $color;
  border-radius: $base-border-radius;
  background-color: $color;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: $semibold-font-weight;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: tint($color, 15%);
    border-color: tint($color, 15%);
    color: white;
  }
}

@mixin button--with-icon($color: $action-color) {
  @include button($color);
  margin-top: 20px;
  padding: 2px 15px 10px 10px;

  &::before {
    @include position(relative, 3px null null null);
    @include size(25px, 22px);
    background-repeat: no-repeat;
    background-size: 22px 25px;
    content:"";
    display: inline-block;
    margin-right: 5px;
  }
}

#{$all-buttons},
.button {
  @include button;
}
