@include font-face("Calibre", "../fonts/CalibreWeb-Regular") {
  font-style: normal;
  font-weight: $regular-font-weight;
};

@include font-face("Calibre", "../fonts/CalibreWeb-RegularItalic") {
  font-style: italic;
  font-weight: $regular-font-weight;
};

@include font-face("Calibre", "../fonts/CalibreWeb-Semibold") {
  font-style: normal;
  font-weight: $semibold-font-weight;
};

@include font-face("Calibre", "../fonts/CalibreWeb-SemiboldItalic") {
  font-style: italic;
  font-weight: $semibold-font-weight;
};
