.page-wrap {
  @include margin(null auto);
  max-width: 960px;
}

.nav-wrap {
  float: left;
  margin-right: 2%;
  padding-top: 45px;
  width: 20%;
}

.main-content-wrap {
  margin-left: 22%;
  width: 78%;
}

section {
  margin-bottom: 130px;
}

.intro {
  padding-top: 50px;
}
