body {
  border-top: 8px solid $thoughtbot-red;
  padding-top: 130px;
}

header {
  @include clearfix;
  margin-bottom: 80px;
}

nav a {
  color: $base-font-color;
  display: inline-block;
  font-weight: $semibold-font-weight;
  padding: 10px;
  position: relative;
  text-decoration: none;

  &:focus,
  &:hover,
  &.active {
    color: $thoughtbot-red;

    &::before {
      @include position(absolute, 21px null null -10px);
      @include triangle(right, $thoughtbot-red, 7px, 10px);
      content: "";
    }
  }
}

img {
  margin-top: 30px;
}

.button--download-assets {
  @include button--with-icon;

  &::before {
    background-image: url("../images/download-icon.svg");
  }
}

.button--github {
  @include button--with-icon($medium-gray);

  &::before {
    background-image: url("../images/github.svg");
  }
}

#logo {
  display: block;

  h4 {
    margin-bottom: 0;
    margin-top: 50px;
  }

  .sans-logotype,
  .stacked-vertical {
    display: inline-block;
    vertical-align: top;
  }

  .sans-logotype {
    margin-right: 130px;
  }
}

#usage-guidelines {
  h3 {
    text-transform: uppercase;

    &:first-of-type {
      color: $thoughtbot-red;
    }

    &:nth-of-type(2n) {
      color: $light-green;
    }
  }

  ul {
    margin: 15px 0 30px;

    li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }
}

#colors {
  .primary-color-container,
  .secondary-color-container {
    margin-top: 50px;

    .color-specs {
      display: inline-block;
      vertical-align: top;

      h3,
      h4,
      hr {
        margin: 0 0 20px 22px;
      }
    }
  }

  .primary-color-container {
    .primary-color {
      @include size(200px, 300px);
      background: $thoughtbot-red;
      display: inline-block;
    }

    .opacity-shifts {
      display: inline-block;
      margin-left: -4px;
    }

    .opacity-shift-1,
    .opacity-shift-2,
    .opacity-shift-3,
    .opacity-shift-4,
    .opacity-shift-5 {
      @include size(60px);
    }

    .opacity-shift-1 {
      background: lighten($thoughtbot-red, 5);
    }

    .opacity-shift-2 {
      background: lighten($thoughtbot-red, 10);
    }

    .opacity-shift-3 {
      background: lighten($thoughtbot-red, 15);
    }

    .opacity-shift-4 {
      background: lighten($thoughtbot-red, 20);
    }

    .opacity-shift-5 {
      background: lighten($thoughtbot-red, 25);
    }
  }

  .secondary-color-container {
    .secondary-color {
      @include size(200px, 300px);
      background: $thoughtbot-gray;
      display: inline-block;
    }

    .opacity-shifts {
      display: inline-block;
      margin-left: -4px;
    }

    .opacity-shift-1,
    .opacity-shift-2,
    .opacity-shift-3,
    .opacity-shift-4,
    .opacity-shift-5 {
      @include size(60px);
    }

    .opacity-shift-1 {
      background: lighten($thoughtbot-gray, 5);
    }

    .opacity-shift-2 {
      background: lighten($thoughtbot-gray, 10);
    }

    .opacity-shift-3 {
      background: lighten($thoughtbot-gray, 15);
    }

    .opacity-shift-4 {
      background: lighten($thoughtbot-gray, 20);
    }

    .opacity-shift-5 {
      background: lighten($thoughtbot-gray, 25);
    }
  }

}

#typography {
  h3 {
    font-size: $base-font-size * 1.5;
    line-height: $base-line-height;
  }

  .typeface-name {
    margin: 30px 0 10px;
  }

  .uppercase,
  .lowercase {
    letter-spacing: 5px;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .regular-typeface {
    h3,
    p {
      font-weight: $regular-font-weight;
    }
  }

  .semibold-typeface {
    h3,
    p {
      font-weight: $semibold-font-weight;
    }
  }
}
