@import url(../stylesheets/normalize.css);
@font-face {
  font-family: "Calibre";
  src: url("../fonts/CalibreWeb-Regular.woff2") format("woff2"), url("../fonts/CalibreWeb-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "Calibre";
  src: url("../fonts/CalibreWeb-RegularItalic.woff2") format("woff2"), url("../fonts/CalibreWeb-RegularItalic.woff") format("woff");
  font-style: italic;
  font-weight: 400; }
@font-face {
  font-family: "Calibre";
  src: url("../fonts/CalibreWeb-Medium.woff2") format("woff2"), url("../fonts/CalibreWeb-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: "Calibre";
  src: url("../fonts/CalibreWeb-MediumItalic.woff2") format("woff2"), url("../fonts/CalibreWeb-MediumItalic.woff") format("woff");
  font-style: italic;
  font-weight: 500; }
button, [type='button'], [type='reset'], [type='submit'],
.button {
  appearance: none;
  border: 2px solid #ed3e44;
  border-radius: 3px;
  background-color: #ed3e44;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Calibre", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus,
  .button:hover,
  .button:focus {
    background-color: #f05b60;
    border-color: #f05b60;
    color: white; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 500;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Calibre", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #b5b5c0;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #91919a; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #ed3e44;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(235, 39, 45, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #b5b5c0; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

ul,
ol {
  font-size: 1.25em;
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #888890;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #b5b5c0;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  background-color: #fff;
  color: #454547;
  font-family: "Calibre", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #29292c;
  font-family: "Calibre", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 1.2em;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 3em;
  color: #ed3e44; }

h2 {
  font-size: 2em;
  margin-bottom: 1.2; }

h3 {
  font-size: 1.125em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  color: #454547;
  font-size: 1.25em;
  font-weight: 400;
  margin: 0 0 1em; }

a {
  color: #ed3e44;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #b22f33; }

hr {
  border-bottom: 1px solid #b5b5c0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

.page-wrap {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px; }

.nav-wrap {
  float: left;
  margin-right: 2%;
  padding-top: 45px;
  width: 20%; }

.main-content-wrap {
  margin-left: 22%;
  width: 78%; }

section {
  margin-bottom: 130px; }

.intro {
  padding-top: 50px; }

body {
  border-top: 8px solid #ed3e44;
  padding-top: 130px; }

header {
  margin-bottom: 80px; }
  header::after {
    clear: both;
    content: "";
    display: block; }

nav a {
  color: #454547;
  display: inline-block;
  font-weight: 500;
  padding: 10px;
  position: relative;
  text-decoration: none; }
  nav a:focus, nav a:hover, nav a.active {
    color: #ed3e44; }
    nav a:focus::before, nav a:hover::before, nav a.active::before {
      position: absolute;
      top: 21px;
      left: -10px;
      border-style: solid;
      height: 0;
      width: 0;
      border-color: transparent transparent transparent #ed3e44;
      border-width: 5px 0 5px 7px;
      content: ""; }

img {
  margin-top: 30px; }

.button--download-assets {
  appearance: none;
  border: 2px solid #ed3e44;
  border-radius: 3px;
  background-color: #ed3e44;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Calibre", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 20px;
  padding: 2px 15px 10px 10px; }
  .button--download-assets:hover, .button--download-assets:focus {
    background-color: #f05b60;
    border-color: #f05b60;
    color: white; }
  .button--download-assets::before {
    position: relative;
    top: 3px;
    height: 22px;
    width: 25px;
    background-repeat: no-repeat;
    background-size: 22px 25px;
    content: "";
    display: inline-block;
    margin-right: 5px; }
  .button--download-assets::before {
    background-image: url("../images/download-icon.svg"); }

.button--github {
  appearance: none;
  border: 2px solid #9b9aa1;
  border-radius: 3px;
  background-color: #9b9aa1;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Calibre", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 20px;
  padding: 2px 15px 10px 10px; }
  .button--github:hover, .button--github:focus {
    background-color: #aaa9af;
    border-color: #aaa9af;
    color: white; }
  .button--github::before {
    position: relative;
    top: 3px;
    height: 22px;
    width: 25px;
    background-repeat: no-repeat;
    background-size: 22px 25px;
    content: "";
    display: inline-block;
    margin-right: 5px; }
  .button--github::before {
    background-image: url("../images/github.svg"); }

#signature {
  display: block; }
  #signature h4 {
    margin-bottom: 0;
    margin-top: 50px; }
  #signature .sans-logotype,
  #signature .stacked-vertical {
    display: inline-block;
    vertical-align: top; }
  #signature .sans-logotype {
    margin-right: 130px; }

#usage-guidelines h3 {
  text-transform: uppercase; }
  #usage-guidelines h3:first-of-type {
    color: #ed3e44; }
  #usage-guidelines h3:nth-of-type(2n) {
    color: #72ca11; }
#usage-guidelines ul {
  margin: 15px 0 30px; }
  #usage-guidelines ul li {
    list-style-type: disc;
    list-style-position: inside; }

#colors .primary-color-container,
#colors .secondary-color-container {
  margin-top: 50px; }
  #colors .primary-color-container .color-specs,
  #colors .secondary-color-container .color-specs {
    display: inline-block;
    vertical-align: top; }
    #colors .primary-color-container .color-specs h3,
    #colors .primary-color-container .color-specs h4,
    #colors .primary-color-container .color-specs hr,
    #colors .secondary-color-container .color-specs h3,
    #colors .secondary-color-container .color-specs h4,
    #colors .secondary-color-container .color-specs hr {
      margin: 0 0 20px 22px; }
#colors .primary-color-container .primary-color {
  height: 300px;
  width: 200px;
  background: #ed3e44;
  display: inline-block; }
#colors .primary-color-container .opacity-shifts {
  display: inline-block;
  margin-left: -4px; }
#colors .primary-color-container .opacity-shift-1,
#colors .primary-color-container .opacity-shift-2,
#colors .primary-color-container .opacity-shift-3,
#colors .primary-color-container .opacity-shift-4,
#colors .primary-color-container .opacity-shift-5 {
  height: 60px;
  width: 60px; }
#colors .primary-color-container .opacity-shift-1 {
  background: #ef555b; }
#colors .primary-color-container .opacity-shift-2 {
  background: #f16d71; }
#colors .primary-color-container .opacity-shift-3 {
  background: #f48488; }
#colors .primary-color-container .opacity-shift-4 {
  background: #f69b9e; }
#colors .primary-color-container .opacity-shift-5 {
  background: #f8b3b5; }
#colors .secondary-color-container .secondary-color {
  height: 300px;
  width: 200px;
  background: #29292c;
  display: inline-block; }
#colors .secondary-color-container .opacity-shifts {
  display: inline-block;
  margin-left: -4px; }
#colors .secondary-color-container .opacity-shift-1,
#colors .secondary-color-container .opacity-shift-2,
#colors .secondary-color-container .opacity-shift-3,
#colors .secondary-color-container .opacity-shift-4,
#colors .secondary-color-container .opacity-shift-5 {
  height: 60px;
  width: 60px; }
#colors .secondary-color-container .opacity-shift-1 {
  background: #353539; }
#colors .secondary-color-container .opacity-shift-2 {
  background: #424246; }
#colors .secondary-color-container .opacity-shift-3 {
  background: #4e4e54; }
#colors .secondary-color-container .opacity-shift-4 {
  background: #5a5a61; }
#colors .secondary-color-container .opacity-shift-5 {
  background: #67676e; }

#typography h3 {
  font-size: 1.5em;
  line-height: 1.5; }
#typography .typeface-name {
  margin: 30px 0 10px; }
#typography .uppercase,
#typography .lowercase {
  letter-spacing: 5px; }
#typography .uppercase {
  text-transform: uppercase; }
#typography .regular-typeface h3,
#typography .regular-typeface p {
  font-weight: 400; }
#typography .medium-typeface h3,
#typography .medium-typeface p {
  font-weight: 500; }
