%header
  .main-content-wrap
    %h1.page-heading Brand Assets & Guidelines

.nav-wrap
  %nav
    %ul
      %li
        %a{href: "/#signature"} The Signature
      %li
        %a{href: "/#symbol"} The Symbol
      %li
        %a{href: "/#logotype"} The Logotype
      %li
        %a{href: "/#formats"} Formats
      %li
        %a{href: "/#usage-guidelines"} Usage Guidelines
      %li
        %a{href: "/#colors"} Colors
      %li
        %a{href: "/#typography"} Typography

.main-content-wrap
  %section.intro
    %p The purpose of this guide is to ensure that consistency is maintained across the thoughtbot brand, whether assets are used internally or externally. Please reference this guide whenever you use these assets to ensure that they are used correctly.
    %a.download-assets{href:"assets/thoughtbot-assets-pack.zip"}
      Download Assets Pack

  %section#signature
    %h2 The Signature
    %p The thoughtbot logo signature combines the two most important visual elements of our brand, the thoughtbot logotype and the thoughtbot symbol (Ralph). The examples below illustrate the recognizable graphic features that make the thoughtbot signature unique.
    %p To maintain consistency across the varied applications of the brand, only three configurations of the thoughtbot signature are permitted. The “horizontal” version is the preferred primary configuration. In situations where this configuration does not have adequate scale or impact, alternative configurations are provided.
    %p The thoughtbot signature elements should never be separated. Position, size, and color, along with the spatial and proportional relationships of the thoughtbot signature elements are predetermined and should not be altered.
    .signature
      %h4 The Signature (Default Horizontal)
      =image_tag "signature.svg"
    .sans-logotype
      %h4 Sans-Logotype
      =image_tag "sans-logotype.svg"
    .stacked-vertical
      %h4 Stacked Vertical
      =image_tag "stacked-vertical.svg"

  %section#symbol
    %h2 The Symbol
    %p The unique thoughtbot “Ralph” symbol represents our brand.
    %p The symbol and the individual elements of the symbol should not be altered or modified unless the modified version is being used for approved internal use.
    %p The importance of this cannot be stressed strongly enough; modification or re-treatment of the thoughtbot symbol will detract from the integrity of the thoughtbot signature and, more importantly, the value of the thoughtbot brand.
    =image_tag "symbol.svg"

  %section#logotype
    %h2 The Logotype
    %p The thoughtbot logotype is a customized version of the “Cabin” typeface.
    %p The sans serif style is favored for its legibility and readability with its ability to render a balance and symmetry that is complementary to the thoughtbot symbol.
    %p In order to protect the integrity of our brand, the logotype must never be altered or replaced by any other type.
    =image_tag "logotype.svg"

  %section#formats
    %h2 Formats
    %p In some instances, such as when the full color version has contrast issues with it’s background, it may be necessary for the thoughtbot signature to appear in a single color. If this is the case, an alternate single color version in all white is recommended. (All formats are include in the assets pack.)
    =image_tag "formats.svg"

  %section#usage-guidelines
    %h2 Usage Guidelines
    %h3 Don't
    %ul
      %li Use the robot symbol outside of the circle.
      %li Alter the proportions of the logo or logotype when use together, for either the horizontal or vertical orientations.
    %h3 Do
    %ul
      %li Prefer the default horizontal logo for all marketing uses.
      %li Prefer the default color versions of the logo. Only use the alternate (white) versions when the default versions have contrast problems with the background on which they are being used.
      %li Use the circular logo, without the company name, on internal branding, or only in close proximity with our name or other identifiable branding.

  %section#colors
    %h2 Colors
    %p The thoughtbot brand utilizes two main colors: “thoughtbot red” and dark gray. These colors may be used with varying levels of opacity in order to create “overlay” effects when layering colors and photography, or creating transparency. Please use this reference guide to maintain consistency of the brand.
    .primary-color-container
      .primary-color
      .opacity-shifts
        .opacity-shift-1
        .opacity-shift-2
        .opacity-shift-3
        .opacity-shift-4
        .opacity-shift-5
      .color-specs
        %h3 Primary Color
        %h4 rgb(197,45,47)
        %h4 #c52d2f
        %hr
        %h4 Pantone® DS 87-1u*
        %h4 cmyk(0,100,90,10)

    .secondary-color-container
      .secondary-color
      .opacity-shifts
        .opacity-shift-1
        .opacity-shift-2
        .opacity-shift-3
        .opacity-shift-4
        .opacity-shift-5
      .color-specs
        %h3 Secondary Color
        %h4 rgb(57,59,68)
        %h4 #393b44
        %hr
        %h4 Pantone® DS 327-3u*
        %h4 cmyk(25,0,0,80)

    %h4.color-notes
      %small
        * Uncoated Process (4 color printing on uncoated paper) is recommended for most printing applications.

  %section#typography
    %h2 Typography
    %p We primarily use the Calluna Sans font family for headings: straightforward but full of personality. We use Freight Text Pro with copy for its elegance and excellent legibility. Freight Text Pro is subject to some narrow licensing; if a little more flexibility is required, use Calluna (Serif).

    .header-typeface
      %h3.typeface-name Calluna Sans
      %h3.uppercase abcdefghijklmnopqrstuvwxyz
      %h3.lowercase abcdefghijklmnopqrstuvwxyz

    .body-typeface
      %h3.typeface-name Freight Text Pro
      %h3.uppercase abcdefghijklmnopqrstuvwxyz
      %h3.lowercase abcdefghijklmnopqrstuvwxyz
